{% extends 'coursecatalog/index.html' %}

<title>{% block title %}Courses{% endblock title %}</title>

{% block content %}

    <div class="container">

        <div class="page-header">

            <h1 class="larger-h1">
                JSU Course Catalog
                {% if course_list %}
                    <p>
                        <small>Please select from our awesome courses!</small>
                    </p>
                {% endif %}
            </h1>

        </div>



        {% if course_list %}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course Title</th>
                    <th>Instructor</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for course in course_list %}
                    <tr>
                        <td>{{ course.pk }}</td>
                        <td><a href="{% url 'detail_course' course.id %}">{{ course.title }}</a></td>
                        <td>{{ course.instructor }}</td>
                        {# I found out about get_foo_display after writing my own template filter to solve the display format issue. #}
                        {# <td>{{ course.duration | format_duration_as_week }}</td>  #}
                        {# https://docs.djangoproject.com/en/dev/ref/models/instances/#django.db.models.Model.get_FOO_display #}
                        <td>{{ course.get_duration_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-danger" role="alert">Sadly, no courses are available at this time.</div>
        {% endif %}

    </div>
{% endblock content %}



