{% extends 'coursecatalog/index.html' %}

<title>{% block title %}Course Details{% endblock title %}</title>

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h1 class="larger-h1">
                    {{ course.title }}
                </h1>
            </div>
            <div class="col-md-offset-1 col-md-2 h1-margins">
                <a class="btn btn-primary btn-lg" href="{% url 'change_course' course.id %}">Change</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>{{ course.description }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {# This might need limits, b/c otherwise this scales to the dimensions of the image.  If a user uploads a very large image, this could be an issue. #}
                <img src="{{ course.course_art.url }}" alt="No Image Found"/>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Instructor: {{ course.instructor }}</li>
                    <li>Duration: {{ course.get_duration_display }}</li>
                </ul>
            </div>
        </div>


    </div>
{% endblock content %}



