{% extends 'coursecatalog/index.html' %}
{% load staticfiles %}

<title>
    {% block title %}
        {% if course_id %}
            Edit Course
        {% else %}
            Add Course
        {% endif %}
    {% endblock title %}
</title>

{% block css %}
    {#The command block.super makes it so that you can extend the index.html css and not overwrite it #}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'coursecatalog/css/course_form.css' %}">
{% endblock css %}

{% block content %}

    <div class="container">

        <div class="page-header">

            <h1 class="larger-h1">
                {% if course_id %}
                    Edit Course
                {% else %}
                    Add Course
                {% endif %}
            </h1>

        </div>


        <div class="row">
            <div class="col-md-6">
                <form method="POST" class="post-form" id="course_form" enctype='multipart/form-data'>
                    {% csrf_token %}

                    {% for field in course_form %}
                        <div class="form-group  {% if field.errors %} has-error{% endif %}">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="text-right cf-label-divs">
                                        <label for="{{ course_form.field.id_for_label }}"
                                               class="control-label">{{ field.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    {# I don't like doing conditions like this, but I couldn't style the file input any other way. #}
                                    {# My attempts to make it use bootstrap classes failed when using widgets in the forms.py file. #}
                                    {% if field.label != "Art" %}
                                        {{ field }}
                                    {% else %}
                                        <span class="btn btn-primary btn-lg btn-file">
                                            Choose... <input id="{{ field.auto_id }}" name="{{ field.html_name }}"  type="file">
                                        </span>
                                        <span id="file_name">{{ course_form.course_art.value }}</span>
                                    {% endif %}


                                    {% if field.help_text %}
                                        <p>
                                            <small> {{ field.help_text }} </small>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                    <div class="text-danger">{{ field.errors.as_text }}</div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                    {# Hidden submit btn placed in form. #}
                    <button id="submit-course-form-btn" type="submit" class="hidden">Submit</button>

                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% if messages %}

                    {# source: https://coderwall.com/p/wekglq/bootstrap-and-django-messages-play-well-together #}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} text-center" role="alert">
                            <strong>{{ message }}</strong></div>
                    {% endfor %}

                {% endif %}
            </div>
            <div class="col-md-2 ">
                <div class="pull-right">
                    {# Using a label here to get around issue w/ submitting a form using a control outside the form. #}
                    {# The only possible issue with it is that this "submit button" cannot be tab selected. #}
                    <label for="submit-course-form-btn" id="submit_btn_label" class="btn btn-primary">Submit</label>
                    {# or <a href="" onClick="window.history.back();return false;">cancel</a>#}
                    or <a href="{{ request.META.HTTP_REFERER }}">cancel</a>
                    <!-- I am assuming that cancel would take you back to where you were before.-->
                </div>
            </div>
        </div>


    </div>
{% endblock content %}


{#The command block.super makes it so that you can append to index.html block javascript but not overwrite it #}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'coursecatalog/js/course_form.js' %}"></script>
{% endblock javascript %}