{% load staticfiles %}
{% load custom_template_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>JSU | {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">

        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="Jared Snider">

        <link rel="shortcut icon" href="{% static 'coursecatalog/img/favicon.ico' %}">
        <link rel="icon" href="{% static 'coursecatalog/img/favicon.ico' %}">

        {% block css %}
            <!-- CSS -->

            <!-- Latest Bootstrap CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

            <!-- App CSS -->
            <link rel="stylesheet" href="{% static 'coursecatalog/css/index.css' %}">

        {% endblock %}

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Jared Snider University</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="{% url 'course_list' %}">Course Catalog </a>
                        </li>
                        <li>
                            <a href="{% url 'add_course' %}">Add Course</a>
                        </li>
                    </ul>
                </div> <!-- /.navbar-collapse -->
          </div> <!-- /.container-fluid -->
        </nav>



        {% block content %}

            <!-- All child templates that extend index.html will be put here. -->

        {% endblock content  %}

        <!-- Javascript -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascript %}

            <!-- Latest jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

            <!-- jQuery client side validation plugin - using b/c I don't have time to manually implement my own -->
            <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>

            <!-- Latest Bootstrap Javascript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            <!-- App wide Javascript -->
            <script src="{% static 'coursecatalog/js/index.js' %}"></script>


        {% endblock javascript %}

    </body>

</html>
