/* CSS for template:  course_form.html */

#id_duration>li{
    list-style: none !important;
}

#id_duration{
    padding-left: 0;
}

/*Fixing issue with non-responsive bootstrap text-align right text for smaller screens.*/
@media (max-width: 768px) {
    .cf-label-divs.text-right { text-align:left }
}


/*Taken from: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}